<html>
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="width=920">
  <title>Rouge</title>
  <link rel="stylesheet" type="text/css" medium="all" href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:800,500|Source+Code+Pro:400,700">
  <link rel="stylesheet" type="text/css" media="all" href="/assets/application.css">
  <link rel="author" href="humans.txt">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body class="home_pages home_pages-show">
  <header>
		<h1 class="main">
			<a href="/">{ Rouge }</a>
		</h1>
		<h2>An elegant, extendable code highlighter written in pure Ruby.</h2>
		<h4>Available on <a target="_blank" href="https://github.com/jneen/rouge">GitHub</a></h4>
  </header>

  <main>
    <section class="demo">
      <form novalidate="novalidate" class="simple_form parse" action="/parses" accept-charset="UTF-8" data-remote="true" method="post">
        <label for="parse_source">Try some code</label>
        <div class="source">
          <select name="parse[language]" id="parse_language">
            <option value="abap">ABAP</option>
            <option value="yaml">YAML</option>
          </select>
          <textarea id="parse_source" name="parse[source]"></textarea>
        </div>
        <pre id="parse_result" class="highlight" data-lang="matlab"><code></code></pre>
      </form>
    </section>
    <section class="key-features">
      <ul>
        <li class="languages">
          <h3>Plenty of Languages</h3>
          <article>
            <p>Rouge supports 181 languages and counting, including Ruby, JavaScript, Swift, Go, C++, and Haskell. Our <a target="_blank" href="https://github.com/jneen/rouge/graphs/contributors">contributors</a> are adding more languages all the time.</p>
          </article>
        </li>
        <li class="parsing">
          <h3>Language Parsing</h3>
          <article>
            <p>Rouge aims for the highest quality lexing in all its supported languages, even with strange features and odd corner cases. Try it above and see for yourself!</p>
          </article>
        </li>
        <li class="pygments">
          <h3>Pygments Compatible</h3>
          <article>
            <p>Rouge themes are 100% compatible with <a target="_blank" href="http://pygments.org">Pygments</a>' stylesheets. No need to remake your theme, and no need to spawn a Python process either. Rouge is made in Ruby.</p>
          </article>
        </li>
      </ul>
    </section>
  </main>

  <footer>
    Rouge development by <a target="_blank" href="http://jneen.net">Jeanine Adkisson</a>.
    Website created by <a target="_blank" href="http://edwardloveall.com">Edward Loveall</a>.
    Using Rouge version 3.15.0
  </footer>
</body>
</html>
