<section class="paste">
  <aside class="meta">
    <span class="date"><%= date %></span>
    <span class="language"><%= demo.lexer.title %></span>
  </aside>
  <pre id="parse_result" class="highlight" data-lang="<%= demo.lexer.tag %>"><code><%= demo.result %></code></pre>
</section>
