// Colors
$blue: #477DCA;
$rouge: #EC627A;
$light-rouge: #EEB2BC;
$dark-rouge: darken($rouge, 30);
$purple: #A663EF;
$dark-gray: #333333;
$medium-gray: #918A8A;
$light-gray: #DDDDDD;
$light-red: #F2D1D8;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: #FCFCFC;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $rouge;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: lighten($base-accent-color, 20);
$base-border: 1px solid $base-border-color;